<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yongliang.homerecipe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeRecipe">
        <activity
            android:name=".view.DetailedRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".view.ViewRecipeActivity"
            android:exported="false"
            android:label="Recipe List" />
        <activity
            android:name=".view.ConfirmActivity"
            android:exported="false"
            android:label="Confirmation" />
        <activity
            android:name=".view.StepActivity"
            android:exported="false"
            android:label="Step Instructions" />
        <activity
            android:name=".view.CreateActivity"
            android:exported="false"
            android:label="Create Recipe" />
        <activity
            android:name=".view.MenuActivity"
            android:exported="false"
            android:label="Main Menu" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>